{% extends 'header.html' %}
{% block header %}
<div style="height:9px; background-color:#ededed;"></div><br>

<div class="text-center" style="font-family: 'Volkhov', serif;">
    <h4>My Video Tutorials</h4><br>
    <p class="fa fa-4x fa-film"></p>
</div><br>
<h4 class="text-center container py-1 text-dark"><b>Title</b>:- WifiHacking<br><b>Description</b>:- Hacking wifi in kaliLinux :)</h4>
<br>
<div class="text-center container">
    <div class="">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/816736036?h=71a51c2182&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="WIFI HACKING" allowfullscreen></iframe></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
        </div>
    </div>

    <hr>
</div>
<center><a href="https://www.mediafire.com/file/axllh6ripsphiib/wifiCmd.txt/file"  target="_blank"><button
    class="d-grid gap-2 col-3 mx-auto btn btn-dark">Resources</button></a></center>
{% endblock header %}